# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Logs
*.log

# Virtual environments
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker (если появятся временные файлы)
*.pid
*.sock

# Git
.git/

